:root{

--primary:#FF3131;
--secondary:#1E1E1E;
--background:#0A0A0A;
--white:#ffffff;
--gray:#b3b3b3;
--light:#f2f2f2;

}

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:var(--background);
transition:.4s;
}

.navbar{

display:flex;
justify-content:space-between;
align-items:center;

padding:15px 8%;

background:var(--secondary);

position:sticky;

top:0;

z-index:1000;

box-shadow:0 5px 15px rgba(0,0,0,.2);

}

.logo img{
width:120px;
cursor:pointer;
}

.nav-links{
display:flex;
align-items:center;
gap:25px;
list-style:none;
}

.nav-links li{
position:relative;
}

.nav-links a{
text-decoration:none;
color:var(--white);
font-size:16px;
transition:.3s;
}

.nav-links a:hover{
color:var(--primary);
}


.dropdown-menu{
position:absolute;
top:20px;
left:0;
width:150px;
background:#2a2a2a;
border-radius:10px;
display:none;
overflow:hidden;
z-index:999;
}

.dropdown-menu a{
display:block;
padding:12px;
}

.dropdown:hover .dropdown-menu{
display:block;
}

.dropdown-menu a:hover{
background:var(--primary);
color:white;
}

.nav-buttons{
display:flex;
align-items:center;
gap:12px;
}

.btn{
padding:10px 18px;
border:none;
border-radius:6px;
cursor:pointer;
background:var(--primary);
color:white;
font-size:15px;
transition:.3s;
}

.btn:hover{
transform:translateY(-3px);
}

.logo-btn{
width:40px;
height:40px;
border:none;
border-radius:50%;
background:var(--primary);
cursor:pointer;
display:flex;
align-items:center;
justify-content:center;
}

.moon{
width:18px;
height:18px;
background:white;
border-radius:50%;
position:relative;
}

.moon::after{
content:"";
position:absolute;
top:-3px;
right:-6px;
width:18px;
height:18px;
background:var(--primary);
border-radius:50%;
}


.mobile-login-wrap{
display:none;
}

.menu-btn{
display:none;
font-size:30px;
color:white;
cursor:pointer;
}

body.light{
background:white;
}

body.light .navbar{
background:var(--light);
}

body.light .nav-links a{
color:black;
}

body.light .menu-btn{
color:black;
}

body.light .dropdown-menu{
background:white;
}

body.light .dropdown-menu a{
color:black;
}

@media(max-width:768px){

.menu-btn{
display:block;
}

.nav-links{
position:absolute;
top:100%;
left:-100%;
width:100%;
background:var(--secondary);
flex-direction:column;
padding:25px;
transition:.5s;
z-index:1000;
}

.nav-links.active{
left:0;
}

.nav-buttons{
position:absolute;
top:420px;
left:-100%;
width:100%;
justify-content:center;
padding:20px;
background:var(--secondary);
transition:.5s;
}

.nav-buttons.active{
left:0;
}

.mobile-login-wrap{
display:block;
}

.login-btn{
display:none;
}

.dropdown-menu{
position:static;
width:100%;
margin-top:10px;
}

body.light .nav-links,
body.light .nav-buttons{
background:var(--light);
}

}
:root{

--primary:#FF3131;
--secondary:#1E1E1E;
--background:#0A0A0A;
--white:#FFFFFF;
--light:#F2F2F2;

}

.footer{

background:var(--secondary);
padding:60px 8% 20px;
margin-top:50px;
}

.footer-container{

display:grid;
grid-template-columns:repeat(4,1fr);
gap:40px;
}

.footer-box{

display:flex;
flex-direction:column;
gap:15px;
}

.footer-box img{

width:130px;
cursor:pointer;
transition:.3s;
}

.footer-box img:hover{

transform:scale(1.05);
}

.footer-box h3{

color:var(--primary);
font-size:22px;
margin-bottom:10px;
}

.footer-box p{

color:var(--white);
font-size:15px;
line-height:1.8;
}

.footer-box ul{

list-style:none;
}

.footer-box ul li{

margin-bottom:10px;
}

.footer-box ul li a{

text-decoration:none;
color:var(--white);
transition:.3s;
}

.footer-box ul li a:hover{

color:var(--primary);
padding-left:5px;
}

.footer-bottom{

border-top:1px solid rgba(255,255,255,.2);
margin-top:30px;
padding-top:20px;

display:flex;
justify-content:space-between;
align-items:center;
flex-wrap:wrap;
gap:20px;
}

.footer-bottom p{

color:var(--white);
font-size:15px;
}

.footer-policy{

display:flex;
gap:20px;
}

.footer-policy a{

text-decoration:none;
color:var(--white);
transition:.3s;
font-size:15px;
}

.footer-policy a:hover{

color:var(--primary);
}


body.light .footer{

background:var(--light);
}

body.light .footer-box p,
body.light .footer-box ul li a,
body.light .footer-bottom p,
body.light .footer-policy a{

color:black;
}

body.light .footer-bottom{

border-top:1px solid #ccc;
}

body:not(.light) .footer-bottom p,
body:not(.light) .footer-policy a{

color:white;
}

@media(max-width:768px){

.footer-container{

grid-template-columns:1fr;
text-align:center;
gap:30px;
}

.footer-box{

align-items:center;
}

.footer-bottom{

flex-direction:column;
text-align:center;
}

.footer-policy{

justify-content:center;
flex-wrap:wrap;
}

.footer{

padding:40px 5%;
}

}

.footer-box h3{

color:var(--primary);
font-size:22px;
margin-bottom:15px;
}

.footer-box ul{

list-style:none;
padding:0;
}

.footer-box ul li{

color:var(--white);
font-size:15px;
margin-bottom:12px;
cursor:pointer;
transition:.3s;
}

.footer-box ul li:hover{

color:var(--primary);
padding-left:5px;
}

body.light .footer-box ul li{

color:black;
}

@media(max-width:768px){

.footer-box{

text-align:center;
align-items:center;
}

.footer-box ul li{

margin-bottom:10px;
}

}

:root{

--primary:#FF3131;
--secondary:#1E1E1E;
--background:#0A0A0A;
--white:#ffffff;

}

.hero{

height:85vh;

background:
url("images/hero1.jpg");

background-size:cover;
background-position:center;
background-repeat:no-repeat;

display:flex;
justify-content:center;
align-items:center;

text-align:center;

padding:0 8%;
}

.hero-container{

max-width:700px;
}

.hero-container h1{

font-size:40px;
color:var(--white);

margin-bottom:20px;

letter-spacing:2px;
}

.hero-container p{

font-size:22px;

color:#ddd;

margin-bottom:15px;
margin-left: 55px;
line-height:1.6;
}

.hero-buttons{

display:flex;

justify-content:center;

gap:20px;

flex-wrap:wrap;
}

.hero-buttons button{

padding:15px 35px;

border:none;

border-radius:8px;

background:var(--primary);

color:white;

font-size:16px;

cursor:pointer;

transition:.3s;
}

.hero-buttons button:hover{

transform:translateY(-5px);

opacity:.9;
}


body.light .hero{

background:
linear-gradient(
rgba(255,255,255,.55),
rgba(255,255,255,.55)
),

url("images/hero1.jpg");

}

body.light .hero-container h1{

color:black;
}

body.light .hero-container p{

color:#333;
}


@media(max-width:768px){

.hero{

padding:0 5%;
}

.hero-container h1{

font-size:42px;
}

.hero-container p{

font-size:16px;
}

.hero-buttons{

flex-direction:column;
align-items:center;
}

.hero-buttons button{

width:220px;
}

}

.about{

padding:100px 8%;

background:var(--background);

}

.about-container{

display:flex;
align-items:center;
justify-content:space-between;
gap:60px;

}

.about-image{

flex:1;
}

.about-image img{

width:100%;
border-radius:20px;

object-fit:cover;

transition:.4s;
}

.about-image img:hover{

transform:scale(1.03);

}

.about-content{

flex:1;
}

.about-content h4{

color:var(--primary);

margin-bottom:10px;

font-size:18px;

letter-spacing:2px;
}

.about-content h2{

font-size:45px;

color:var(--white);

margin-bottom:20px;
}

.about-content p{

color:#ddd;

line-height:1.8;

margin-bottom:30px;

}

.about-details{

display:flex;

gap:20px;

margin-bottom:30px;

}

.detail-box{

background:var(--secondary);

padding:20px;

border-radius:12px;

text-align:center;

flex:1;
}

.detail-box h3{

color:var(--primary);

font-size:28px;

margin-bottom:10px;
}

.detail-box p{

margin:0;

font-size:14px;
}

.about-content button{

padding:14px 30px;

background:var(--primary);

border:none;

border-radius:8px;

color:white;

cursor:pointer;

font-size:16px;

transition:.3s;
}

.about-content button:hover{

transform:translateY(-5px);
}

body.light .about{

background:white;
}

body.light .about-content h2{

color:black;
}

body.light .about-content p{

color:#444;
}

body.light .detail-box{

background:#f2f2f2;
}


@media(max-width:768px){

.about-container{

flex-direction:column;
text-align:center;

}

.about-content h2{

font-size:30px;
}

.about-details{

flex-direction:column;
}

}
.services{

padding:100px 8%;
background:var(--secondary);
text-align:center;

}

.services h4{

color:var(--primary);
font-size:18px;
letter-spacing:2px;
margin-bottom:10px;

}

.services h2{

font-size:42px;
color:var(--white);
margin-bottom:50px;

}

.service-container{

display:grid;
grid-template-columns:repeat(3,1fr);
gap:30px;

}

.service-card{

background:#2a2a2a;
padding:35px 25px;
border-radius:20px;

transition:.4s;
cursor:pointer;

}

.service-card:hover{

transform:translateY(-10px);

border:1px solid var(--primary);

}

.service-card h3{

color:var(--primary);
margin-bottom:15px;

}

.service-card p{

color:#ddd;
line-height:1.7;

}

body.light .services{

background:#f2f2f2;
}

body.light .services h2{

color:black;
}

body.light .service-card{

background:white;
}

body.light .service-card p{

color:#444;
}

@media(max-width:768px){

.service-container{

grid-template-columns:1fr;

}

.services h2{

font-size:30px;

}

}
.artists{

padding:100px 8%;
background:var(--background);

}

.artist-container{

display:flex;
align-items:center;
gap:60px;

}

.artist-image{

flex:1;
}

.artist-image img{

width:100%;
border-radius:20px;
object-fit:cover;

}

.artist-content{

flex:1;
}

.artist-content h4{

color:var(--primary);

font-size:18px;

margin-bottom:10px;

letter-spacing:2px;

}

.artist-content h2{

font-size:45px;

color:var(--white);

margin-bottom:10px;

}

.artist-content h3{

color:#ddd;

margin-bottom:20px;

}

.artist-content p{

color:#bbb;

line-height:1.8;

margin-bottom:30px;

}

.artist-info{

display:flex;
gap:30px;

margin-bottom:30px;

}

.artist-info h5{

color:var(--primary);

margin-bottom:5px;

}

.artist-info p{

color:white;

margin:0;

}

.artist-content button{

padding:14px 30px;

border:none;

border-radius:8px;

background:var(--primary);

color:white;

cursor:pointer;

transition:.3s;

}

.artist-content button:hover{

transform:translateY(-5px);

}


/* Scroll Animation */

.animation{

opacity:0;

transform:translateY(80px);

transition:all 1s ease;

}

.animation.show{

opacity:1;

transform:translateY(0);

}


/* Light mode */

body.light .artist-content h2,
body.light .artist-info p{

color:black;

}

body.light .artist-content h3,
body.light .artist-content p{

color:#444;

}


/* Mobile */

@media(max-width:768px){

.artist-container{

flex-direction:column;

text-align:center;

}

.artist-info{

justify-content:center;

}

.artist-content h2{

font-size:32px;

}

}

.faq{

padding:100px 8%;
background:var(--background);
text-align:center;

}

.faq h4{

color:var(--primary);
letter-spacing:2px;
margin-bottom:10px;

}

.faq h2{

font-size:42px;
color:var(--white);
margin-bottom:50px;

}

.faq-container{

max-width:800px;
margin:auto;

}

.faq-box{

background:var(--secondary);

margin-bottom:20px;

border-radius:10px;

overflow:hidden;

}

.faq-question{

width:100%;

padding:20px;

background:none;

border:none;

color:white;

font-size:18px;

display:flex;
justify-content:space-between;
align-items:center;

cursor:pointer;

}

.faq-answer{

max-height:0;

overflow:hidden;

transition:max-height .4s ease;

}

.faq-answer p{

padding:20px;

color:#ddd;

line-height:1.7;

text-align:left;

}

body.light .faq{

background:white;

}

body.light .faq h2{

color:black;

}

body.light .faq-box{

background:#f2f2f2;

}

body.light .faq-question{

color:black;

}

body.light .faq-answer p{

color:#444;

}

@media(max-width:768px){

.faq h2{

font-size:30px;

}

.faq-question{

font-size:16px;

padding:15px;

}

}

.join{

padding:100px 8%;

background:
linear-gradient(
rgba(0,0,0,.75),
rgba(0,0,0,.75)
),

url("images/background.jpg");

background-size:cover;
background-position:center;

text-align:center;

}

.join-container{

max-width:700px;

margin:auto;

}

.join h4{

color:var(--primary);

letter-spacing:2px;

margin-bottom:15px;

}

.join h2{

font-size:45px;

color:white;

margin-bottom:20px;

}

.join p{

color:#ddd;

line-height:1.8;

margin-bottom:35px;

}

.join button{

padding:15px 35px;

border:none;

border-radius:8px;

background:var(--primary);

color:white;

font-size:16px;

cursor:pointer;

transition:.3s;

}

.join button:hover{

transform:translateY(-5px);

}

body.light .join{

background:
linear-gradient(
rgba(255,255,255,.75),
rgba(255,255,255,.75)
),

url("images/background.jpg");

}

body.light .join h2{

color:black;

}

body.light .join p{

color:#333;

}

@media(max-width:768px){

.join h2{

font-size:30px;

}

.join p{

font-size:15px;

}

}
body.light .artists{

background:#ffffff;

}

body.light .artist-content h2{

color:black;

}

body.light .artist-content h3{

color:#333;

}

body.light .artist-content p{

color:#555;

}

body.light .artist-info h5{

color:var(--primary);

}

body.light .artist-info p{

color:black;

}

body.light .artist-content button{

background:var(--primary);

color:white;

}