:root{

--primary:#FF3131;
--secondary:#1E1E1E;
--background:#0A0A0A;
--white:#ffffff;
--gray:#b3b3b3;
--light:#f2f2f2;

}

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:var(--background);
transition:.4s;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 8%;
background:var(--secondary);
position:relative;
}

.logo img{
width:120px;
cursor:pointer;
}

.nav-links{
display:flex;
align-items:center;
gap:25px;
list-style:none;
}

.nav-links li{
position:relative;
}

.nav-links a{
text-decoration:none;
color:var(--white);
font-size:16px;
transition:.3s;
}

.nav-links a:hover{
color:var(--primary);
}


/* dropdown */

.dropdown-menu{
position:absolute;
top:20px;
left:0;
width:150px;
background:#2a2a2a;
border-radius:10px;
display:none;
overflow:hidden;
z-index:999;
}

.dropdown-menu a{
display:block;
padding:12px;
}

.dropdown:hover .dropdown-menu{
display:block;
}

.dropdown-menu a:hover{
background:var(--primary);
color:white;
}


/* buttons */

.nav-buttons{
display:flex;
align-items:center;
gap:12px;
}

.btn{
padding:10px 18px;
border:none;
border-radius:6px;
cursor:pointer;
background:var(--primary);
color:white;
font-size:15px;
transition:.3s;
}

.btn:hover{
transform:translateY(-3px);
}

.logo-btn{
width:40px;
height:40px;
border:none;
border-radius:50%;
background:var(--primary);
cursor:pointer;
display:flex;
align-items:center;
justify-content:center;
}

.moon{
width:18px;
height:18px;
background:white;
border-radius:50%;
position:relative;
}

.moon::after{
content:"";
position:absolute;
top:-3px;
right:-6px;
width:18px;
height:18px;
background:var(--primary);
border-radius:50%;
}

/* hide mobile login desktop */

.mobile-login-wrap{
display:none;
}

.menu-btn{
display:none;
font-size:30px;
color:white;
cursor:pointer;
}


/* Light Mode */

body.light{
background:white;
}

body.light .navbar{
background:var(--light);
}

body.light .nav-links a{
color:black;
}

body.light .menu-btn{
color:black;
}

body.light .dropdown-menu{
background:white;
}

body.light .dropdown-menu a{
color:black;
}

@media(max-width:768px){

.menu-btn{
display:block;
}

.nav-links{
position:absolute;
top:100%;
left:-100%;
width:100%;
background:var(--secondary);
flex-direction:column;
padding:25px;
transition:.5s;
z-index:1000;
}

.nav-links.active{
left:0;
}

.nav-buttons{
position:absolute;
top:420px;
left:-100%;
width:100%;
justify-content:center;
padding:20px;
background:var(--secondary);
transition:.5s;
}

.nav-buttons.active{
left:0;
}

.mobile-login-wrap{
display:block;
}

.login-btn{
display:none;
}

.dropdown-menu{
position:static;
width:100%;
margin-top:10px;
}

body.light .nav-links,
body.light .nav-buttons{
background:var(--light);
}

}