:root{

--primary:#FF3131;
--secondary:#1E1E1E;
--background:#0A0A0A;
--white:#fff;
--gray:#999;

}

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:var(--background);
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
padding:20px;
transition:.4s;
}

.login-container{

width:380px;
background:black;
border:1px solid var(--primary);
border-radius:30px;
padding:22px;
}

.top-buttons{

display:flex;
justify-content:flex-end;
gap:10px;
margin-bottom:10px;
}

.rtl-btn,
.theme-btn{

width:50px;
height:50px;
border-radius:50%;
border:1px solid var(--primary);
background:#222;
color:white;
cursor:pointer;
}

.logo{

text-align:center;
margin-bottom:10px;
}

.logo img{

width:100px;
}

label{

display:block;
color:white;
font-size:15px;
margin:12px 0 8px;

}

.input-box{

display:flex;
align-items:center;
background:#1f1f1f;
border:1px solid #444;
padding:15px;
border-radius:15px;
}

.input-box i{

color:#aaa;
}

.input-box input{

flex:1;
background:none;
border:none;
outline:none;
color:white;
padding-left:15px;
font-size:16px;
}

.eye{

cursor:pointer;
}

.remember{

display:flex;
justify-content:space-between;
margin:20px 0;
color:white;
}

.remember a{

color:var(--primary);
text-decoration:none;
}

.login-btn{

width:100%;
padding:16px;
border:none;
background:var(--primary);
border-radius:15px;
color:white;
font-size:20px;
font-weight:bold;
cursor:pointer;
margin-bottom:25px;
}

.line{

text-align:center;
color:#aaa;
margin-bottom:25px;
}

.social-btn{

width:100%;
padding:15px;
margin-bottom:15px;
background:#1f1f1f;
border:1px solid #444;
border-radius:15px;
color:white;
cursor:pointer;
}

.signup-text{

text-align:center;
margin-top:20px;
color:white;
}

.signup-text a{

color:var(--primary);
text-decoration:none;
}


body.light{

background:white;
}

body.light .login-container{

background:white;
}

body.light label,
body.light .signup-text,
body.light .remember{

color:black;
}

body.light input{

color:black;
}

@media(max-width:768px){

.login-container{

width:100%;
}

}