:root{

--primary:#FF3131;
--secondary:#1E1E1E;
--background:#0A0A0A;
--white:#ffffff;

}

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:var(--background);
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
padding:10px;
}
.signup-container::-webkit-scrollbar{
display:none;
}
.signup-container{

width:380px;
padding:18px;
background:black;
border:1px solid var(--primary);
border-radius:30px;

height:auto;
max-height:95vh;
overflow-y:auto;

}
.top-buttons{

display:flex;
justify-content:flex-end;
gap:15px;
margin-bottom:5px;
}

.rtl-btn,
.theme-btn{

width:50px;
height:50px;
border-radius:50%;
border:1px solid var(--primary);
background:#222;
color:white;
cursor:pointer;
}

.theme-btn i{
font-size:18px;
}

.logo{
text-align:center;
margin-bottom:5px;
}

.logo img{
width:80px;
cursor:pointer;
}

label{
display:block;
margin:8px 0 5px;
color:white;
font-size:16px;  
font-weight:400;  
letter-spacing:.5px;
}
.input-box{

display:flex;
align-items:center;
padding:11px;
background:#1f1f1f;
border:1px solid #444;
border-radius:15px;
margin-bottom:10px;
}

.input-box input{

flex:1;
background:none;
border:none;
outline:none;
color:white;
padding-left:15px;
font-size:15px;
}

.input-box i{
color:#aaa;
}

.eye{
cursor:pointer;
}

.signup-btn{

width:100%;
padding:15px;
border:none;
border-radius:15px;
background:var(--primary);
color:white;
font-size:15px;
font-weight:bold;
cursor:pointer;
margin-top:10px;
}

.line{
text-align:center;
color:#999;
margin:12px 0;
}

.social-btn{

width:100%;
padding:14px;
margin-bottom:12px;
border:1px solid #444;
background:#1f1f1f;
color:white;
border-radius:15px;
cursor:pointer;
}

.login-text{

margin-top:15px;
text-align:center;
color:white;
}

.login-text a{
color:var(--primary);
text-decoration:none;
}


/* light mode */

body.light{
background:white;
}

body.light .signup-container{
background:white;
}

body.light label,
body.light .login-text{
color:black;
}

body.light input{
color:black;
}

@media(max-width:768px){

.signup-container{
width:100%;
}

}